h1{
  color: #4a95d6;
  margin-bottom: 0;
}
h2{
  margin-top: 0;
}

.App {
  text-align: center;
}

.app__form {
  margin: 10px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #4a95d6;
  width: 95%;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input{
  /* Take up as much space as possible */
  flex: 1;
}

.app__iconButton {
  /* Only take up minimal amount of space */
  flex: 0;
}