.message {
    padding: 5px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: #00e0ff !important;
}
.message__guestCard {
    background-color: #fffbf3 !important;
}